.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 60px 0px;
    padding: 60px 0;

    font-size: 14px;
    font-weight: 300;
}

.about>div {
    display: flex;
    flex-direction: column;
}

.about h1 {
    font-size: 40px;
    margin: 15px 0;
}

.about img {
    width: 170px;
}

.about button {
    padding: 12px 30px;
    color: #fff;
    border: 1px solid #ffffffd3;
    background-color: #203956;
    margin: 28px 0;
    font-size: 13px;
    cursor: pointer;
    border-radius: 8px;
    text-align: right;
    align-self: flex-end;
}

.about>div>button:hover {
    background-color: #ffffff1a;
}

.divider {
    position: absolute;
    background: linear-gradient(114deg, rgba(27, 51, 81, .3) 15.8%, rgba(97, 134, 155, .3) 92.73%);
    backdrop-filter: blur(30px);
    height: 5px;
    left: 0;
    right: 0;
}

@media screen and (min-width: 768px) {
    .about {
        flex-direction: row;
        gap: 120px;
    }

    .about>div {
        width: 60%;
    }
}