body {
  background-color: rgb(27, 51, 81);
  width: 95%;
  max-width: 1150px;
  margin: 0px auto;
  font-family: Mulish, sans-serif;
  color: rgb(255, 255, 255);
  overflow: auto;
}

html {
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
}

img {
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  opacity: 0;
}

button {
  font-family: 'Mulish', sans-serif;
}

html.overlay {
  overflow: hidden;
}